.App {
  text-align: center;
}

.game-board {
  margin-top: 40px;
  border: 1px solid black;
}

.game-board-square {
  text-align: center;
  width: 12vw;
  min-height: 12vw;
  border: 1px black solid;
}

.game-board-square:hover {
  background-color: gray;
}
